html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

body {
  background: url(../img/hero.jpg);
  background-size: cover;
}

body:after {
  animation: grain 1s steps(10) infinite;
  -webkit-animation: grain 1s steps(10) infinite;
  background-image: url(../img/grains.png);
  content: '';
  height: 300%;
  left: -50%;
  opacity: 0.8;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: 0;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, -5%);
    -webkit-transform: translate(-15%, -5%);
    -moz-transform: translate(-15%, -5%);
    -ms-transform: translate(-15%, -5%);
    -o-transform: translate(-15%, -5%);
  }

  30% {
    transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0);
    -webkit-transform: translate(15%, 0);
    -moz-transform: translate(15%, 0);
    -ms-transform: translate(15%, 0);
    -o-transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
    -webkit-transform: translate(0, 15%);
    -moz-transform: translate(0, 15%);
    -ms-transform: translate(0, 15%);
    -o-transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
  }
}

.content {
  z-index: 1;
  position: relative;
}

h1 {
  color: #e3e3e3 !important;
  font-size: 'Playfair Display;' !important;
  margin: 32px 0 32px 40px !important;
}

.row {
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.cardd {
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 220px;
  transition: 1s !important;
  -webkit-transition: 1s !important;
  -moz-transition: 1s !important;
  -ms-transition: 1s !important;
  -o-transition: 1s !important;
}

.row h5 {
  color: #fff;
  font-family: 'Poppins';
  margin: 48px 0 2px 4px;
  font-size: 16px;

}

.row h5:before {
  position: absolute;
  content: '';
  top: 50px;
  left: -2px;
  width: 2px;
  height: 22px;
  display: block;
  background: #fff;

}

p {
  color: gray;
  margin-left: 4px;
  font-size: 14px;
  margin-bottom: 70px !important;
}

a {
  margin-left: 0px;
  color: lightgray !important;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none !important;
  color: gray !important;
}

.cardd:hover:before{
  content:'';
  position: absolute;
  top: -100px;
  left: 100%;
  width: 280px;
  height: 280px;
  z-index: -1;
  animation: anim 3.2s ease-in-out;
  transition: 1s !important;
  -webkit-transition: 1s !important;
  -moz-transition: 1s !important;
  -ms-transition: 1s !important;
  -o-transition: 1s !important;
  -webkit-animation: anim 3.2s ease-in-out;
}